@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;/*imagem de fundo madeira carregado pela propriedade background, propriedade no-repeat é para a imagem não ser transmitida de forma repetitiva e a propriedade top e center é para a imagem iniciar por esses parametros*/
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100%;
}

section#telefone {
    position: absolute;/*posição centralizada*/
    top: 50%;/*medida percentual para deixar o conteudo centralizado na medida necessaria através do topo*/
    left: 50%;/*medida percentual para deixar o conteudo centralizado na medida necessaria através do lado esquerdo*/
    transform: translate(-50%, -50%);/*transformação para reverter as dimensoes top e left para centralizar na medida correta a propriedade do elemento*/
    
    height: 627px;/*altura*/
    width: 311px;/*largura*/
    
    background: url(../imagens/frame-iphone.png) no-repeat;/*imagem do iphone carregado pela propriedade background, propriedade no-repeat é para a imagem não ser transmitida de forma repetitiva*/
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.616);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    transition: transform .3s, border 1s;
}
