@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;/*imagem de fundo madeira carregado pela propriedade background, propriedade no-repeat é para a imagem não ser transmitida de forma repetitiva e a propriedade top e center é para a imagem iniciar por esses parametros*/
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100%;
}

section#telefone {
    position: absolute;/*posição centralizada*/
    top: 50%;/*medida percentual para deixar o conteudo centralizado na medida necessaria através do topo*/
    left: 50%;/*medida percentual para deixar o conteudo centralizado na medida necessaria através do lado esquerdo*/
    transform: translate(-50%, -50%);/*transformação para reverter as dimensoes top e left para centralizar na medida correta a propriedade do elemento*/
    
    height: 627px;/*altura*/
    width: 311px;/*largura*/
    
    background: url(../imagens/frame-iphone.png) no-repeat;/*imagem do iphone carregado pela propriedade background, propriedade no-repeat é para a imagem não ser transmitida de forma repetitiva*/
    
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}/*configurações do iframe da tela do celular, ajustes conforme medida do corpo da tela*/

section#redes-sociais {
    text-align: right;/*propriedade de texto que foi usado nas tags ancora para deixar alinhados os itens do lado direito*/
}

section#redes-sociais img {
    width: 50px;/*somente ajustar a largura ja faz o item ajustar automaticamente a altura*/
    margin: 10px;/*um margin para separar os itens um dos outro*/
    border-radius: 50%;/*radius de 50 para arredondar a imagem*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);/*estilização dos icones com uma leve borda e sombreamento*/
    box-sizing: border-box;/*propriedade para manter a configuração border da img:hover dentro da caixa*/
}/*foi efetuado uma quebra de linha com a tag br no html para separar as ancoras em formato de coluna*/

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.616);
    transform: translate(-3px, -3px);/*ao encostar o mouse, o icone da uma leve movimentada pra cima e pra esquerda*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);/*sombreamento ao movimentar o icone*/
    transition: transform .3s, border 1s;/*tempo intervalo da movimentação dos icones*/
}

@media screen and (max-width: 600px) {
    section#telefone {
    position: absolute;/*posição centralizada*/
    top: 50%;/*medida percentual para deixar o conteudo centralizado na medida necessaria através do topo*/
    left: 50%;/*medida percentual para deixar o conteudo centralizado na medida necessaria através do lado esquerdo*/
    transform: translate(-50%, -50%);/*transformação para reverter as dimensoes top e left para centralizar na medida correta a propriedade do elemento*/
    
    background: url(../imagens/frame-iphone.png) no-repeat;/*imagem do iphone carregado pela propriedade background, propriedade no-repeat é para a imagem não ser transmitida de forma repetitiva*/
    background-size: 260px 510px;
    
}

iframe#tela {
    position: absolute;
    top: 66px;
    left: 19px;
    width: 222px;
    height: 382px;
}/*configurações do iframe da tela do celular, ajustes conforme medida do corpo da tela*/
}
